
#main{
    border: 2px aliceblue solid;
    border-radius: 1%;
    padding: 20px;
}

#review{
    display: flex;
    border-bottom: 1px aliceblue solid;
    margin-bottom: 10px;
}

#section1{
    width: 60%;
}

#review-header{
    display: flex;
}

#profile{
    width: 100px;
}

#title{
    position: relative;
    top: 20px;
    margin-left: 10px;
}

#profile p{
    text-align: center;
}

#comment-header{
    display: flex;
}

#comment-date{
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.349);
}

#reply-header{
    display: flex;
}

#reply-date{
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.349);
}

#reply-list{
    margin-left: 50px;
}

#random-review-header{
    width: 100%;
    margin-top: 20px;
    background-color: darkgrey;
    color: aliceblue;
    text-align: center;
    border: 3px solid black;
}

#random-review-list{
    display: flex;
    border: solid black;
    border-width: 0 3px 3px 3px;
}

#random-review{
    border: 2px solid white;
    width: calc(100%/3);
    padding-left: 5px;
    height: 150px;
    overflow-y: scroll;
}
