
body{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.795);
    margin: 0;
}

#title{
    position: absolute;
    color: aliceblue;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#enter{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: aliceblue;
}

#enter-context.is-show{
    visibility: visible;
    color: aliceblue;
}

#login{
    position: absolute;
    color: aliceblue;
    display: flex;
    top: 80%;
    left: 49%;
    transform: translate(-50%,-20%);
    opacity: 0;
    transition: all 3s;
}

#introduction{
    position: absolute;
    top: 90%;
    transform: translate(0%, -10%
    );
    text-align: center;
    color: aliceblue;
    opacity: 0;
    transition: all 3s;
}

#introduction.show{
    opacity: 1;
    transform: translate(0%,0%)
}

#login.show{
    opacity: 1;
    transform: translate(-50%,-50%)
}

#login h2{
    margin: 20px;
}

#login a{
    text-decoration: none;
    color: aliceblue;
    transition: .3s;
    transform: scale(1);
    background-color: rgb(148, 148, 156);
    border-radius: 50%;
}

#login a:hover{
    color: aliceblue;
    transform: scale(1.1);
}
#title h1::after{
    content: '_';
    animation: flash 1s linear infinite;
}

#info{
    display: flex;
    list-style: none;
    justify-content: space-around
}

.info-detail{
    width: 30%;
    text-align: center;
}

#intro-title{
    position: relative;
}

#click{
    position: absolute;
    bottom: 40%;
    left: 53%;
    transform: translate(0%, -50%);
    transform: rotate(30deg);
    font-size: 12px;
}

.flash{
    animation: flash 1s linear infinite;
}

.not-flash{
    opacity: 0;
}


@keyframes flash {
    0% {
opacity: 1;
    }

    50% {
opacity: 0;
    }
    
    100% {
    opacity: 1;
    }
}
