
#wrapper{
    width: 100%;
    position: relative;
}

#review{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border: solid 3px gray;
    width: 800px;
    padding: 30px;
}

section{
    position: relative;
}

#review-content{
    position: relative;
}

#review-content textarea{
    margin-left: 50%;
    transform: translate(-50%);
    border: 1px black solid;
    border-radius: 5px;
}

#evaluation{
    display: flex;
    justify-content: space-between;
    width: 500px;
    border: 1px solid black;
    margin-left: 50%;
    transform: translate(-50%);
}

#evaluation div{
    text-align: center;
    width: 100px;
}

#button{
    position: absolute;
    right: 20px;
}

